body {
    background-color: #87ae73;
}
.Header {
    background-color: #adb6c1;
    border-top: 1px solid black;
    border-left:1px solid black;
    border-right: 1px solid black;
    font-family: Verdana, Helvetica, sans-serif;
    text-align: center;
}
.listRows {
    background-color: #e5e7e9;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: Verdana, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px dotted #818181;
}

.inputContainer{
    background-color: #e5e7e9;
    border: 1px solid black;
    font-family: Verdana, Helvetica, sans-serif;
}
.inputContainer button {
    margin: 10px 0px 10px 0px;
}